TurnBasedGameAPI/UpgradeLog2.htm
TurnBasedGameAPI/UpgradeLog.htm
TurnBasedGameAPI/.vs/TurnBasedGameAPI/v15/Server/sqlite3/storage_REMOTE_28256.ide-shm
TurnBasedGameAPI/.vs/TurnBasedGameAPI/v15/Server/sqlite3/storage_LOCAL_28256.ide-shm
TurnBasedGameAPI/.vs/TurnBasedGameAPI/v15/Server/sqlite3/storage_BASE_28256.ide-shm
TurnBasedGameAPI/.vs/TurnBasedGameAPI/v15/Server/sqlite3/storage.ide-wal
TurnBasedGameAPI/.vs/TurnBasedGameAPI/v15/Server/sqlite3/storage.ide-shm
TurnBasedGameAPI/.vs/TurnBasedGameAPI/v15/Server/sqlite3/storage.ide
TurnBasedGameAPI/.vs/
TurnBasedGameAPI/GameEF/bin
TurnBasedGameAPI/GameEF/obj
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
TurnBasedGameAPI/GameEF/GameModel.Context.tt
TurnBasedGameAPI/GameEF/GameModel.tt
TurnBasedGameAPI/TurnBasedGameAPI.Tests/obj/Debug/TurnBasedGameAPI.Tests.csproj.FileListAbsolute.txt
TurnBasedGameAPI/TurnBasedGameAPI.Tests/obj/Debug/TurnBasedGameAPI.Tests.csproj.CopyComplete
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/TurnBasedGameAPI.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/TurnBasedGameAPI.dll.config
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/TurnBasedGameAPI.Tests.dll.config
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.WebPages.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.WebPages.Razor.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.Razor.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.Optimization.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.Mvc.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.Http.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.Http.WebHost.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.Http.Owin.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Web.Helpers.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/System.Net.Http.Formatting.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Newtonsoft.Json.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Microsoft.Owin.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Microsoft.Owin.Security.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Microsoft.Owin.Security.OAuth.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Microsoft.Owin.Security.Cookies.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Microsoft.AspNet.Identity.Owin.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/Microsoft.AspNet.Identity.Core.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/EntityFramework.xml
TurnBasedGameAPI/TurnBasedGameAPI.Tests/bin/Debug/ApplicationInsights.config
TurnBasedGameAPI/TurnBasedGameAPI/obj/Debug/TurnBasedGameAPI.csproj.FileListAbsolute.txt
TurnBasedGameAPI/TurnBasedGameAPI/obj/Debug/TurnBasedGameAPI.csproj.CopyComplete
TurnBasedGameAPI/TurnBasedGameAPI/bin/roslyn/vbc.rsp
TurnBasedGameAPI/TurnBasedGameAPI/bin/roslyn/csi.rsp
TurnBasedGameAPI/TurnBasedGameAPI/bin/roslyn/csi.exe.config
TurnBasedGameAPI/TurnBasedGameAPI/bin/roslyn/csc.rsp
TurnBasedGameAPI/TurnBasedGameAPI/bin/roslyn/csc.exe.config
TurnBasedGameAPI/TurnBasedGameAPI/bin/roslyn/VBCSCompiler.exe.config
TurnBasedGameAPI/TurnBasedGameAPI/bin/roslyn/Microsoft.VisualBasic.Core.targets
TurnBasedGameAPI/TurnBasedGameAPI/bin/roslyn/Microsoft.CSharp.Core.targets
TurnBasedGameAPI/TurnBasedGameAPI/bin/TurnBasedGameAPI.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/TurnBasedGameAPI.dll.config
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.WebPages.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.WebPages.Razor.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.WebPages.Deployment.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.Razor.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.Optimization.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.Mvc.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.Http.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.Http.WebHost.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.Http.Owin.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Web.Helpers.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/System.Net.Http.Formatting.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Newtonsoft.Json.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.Owin.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.Owin.Security.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.Owin.Security.Twitter.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.Owin.Security.OAuth.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.Owin.Security.Google.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.Owin.Security.Facebook.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.Owin.Security.Cookies.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.Owin.Host.SystemWeb.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.AspNet.Identity.Owin.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.AspNet.Identity.EntityFramework.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.AspNet.Identity.Core.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.ApplicationInsights.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.AI.WindowsServer.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.AI.Web.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.AI.ServerTelemetryChannel.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/Microsoft.AI.DependencyCollector.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/EntityFramework.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/EntityFramework.SqlServer.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/ApplicationInsights.config
TurnBasedGameAPI/TurnBasedGameAPI/App_Data/TurnBasedGameAPI.xml
TurnBasedGameAPI/TurnBasedGameAPI/bin/roslyn/vbc.exe.config
