<div class="jumbotron">
	<h1>Chain Rule Games</h1>
	<p class="lead">ChainRuleGames is a free web framework for building and playing multiplayer turn based games and Web applications using HTML, CSS, and JavaScript.</p>
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Getting started (Players)</h2>
		<p>Description of games?</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Getting started (Developers)</h2>
		<p>Game development description here?</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Credits</h2>
		<p>The multiplayer framework and games were developed for CS 4488, Professor Dr. Beard, Idaho State University</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
	</div>
</div>