@*Michael Case April 20, 2018*@

@using PerilUI.Models;
@model  int

<head>
    <style>
     
    </style>
</head>

<div class="container-fluid">
    <div class="row">
        <!-- Map -->
        <div class="col-xs-9">
                <img src="~/Content/map.png" class="img-responsive" alt="Responsive image">
      
        </div>
         
        <!-- Game Panel -->
        <div class="col-xs-3">
            <!-- Leader Portrait (this could be optional) -->
                <img src="~/Content/skeleking.jpg" class="img-responsive" alt="Responsive image" style="background-color:blue;
                        color:white;padding:10px;margin-bottom:10px;max-height:300px">
            
            <!-- Button to open Detailed Status Modal -->
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#statusModal"
                    style="background-color:orange; margin-bottom:10px">
                Open Status Window
            </button>

            <!-- Simple Status Window -->
            <div class="status-window", style="background-color:aqua;color:white;margin-bottom:10px;">
                <p>Game details here. Needs some work</p>
            </div>

            <!-- End Turn/phase, etc. button -->
            <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:red">End Turn</button>

            
            <!-- Detailed Status Modal -->
            <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="Status" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Game Status</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="modTerr" class="text-left">Owned Territories</p>
                            <p id="modTroops" class="text-left">Troops</p>
                            <p id="modPower" class="text-left">Power</p>
                            <p id="modReviveCost" class="text-left">Necro Revival Cost</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

}
