@*James March 2018*@

@{
    ViewBag.Title = "About";
}
<h2>Tic Tac Toe</h2>

<p style="font-size:120%;"> Tic Tac Toe was designed and implemented as a proof of concept game to test the correctness of the turn based multiplayer framework that we created.</p>
<p style="font-size:120%;">No additional features or adjustments were made to the original game.</p>
<p style="font-size:120%">The rules for Tic Tac Toe can be found under the rules link on the main page.</p>
