@*James March 2018*@

@{
    ViewBag.Title = "Tic Tac Toe Rules";
}

<!DOCTYPE html>

<html>

<style>
    #p0 {
        margin: 20px;
        font-size: 120%;
    }
</style>

<head>
    <meta name="viewport" content="width=device-width" />
    <h2>@ViewBag.Title</h2>
</head>
<body>
    <div>
        <p id="p0">A <a href="http://www.cyberoculus.com/tic-tac-toe.asp?Action=Rules">Cyber Oculus web page</a> describes Tic Tac Toe as follows:</p>

        <p id="p0">
            The object of Tic Tac Toe is to get three in a row. <br />You Play on a three by three game board. <br />
            One Player is known as X's and the other is O's.<br />Players alternate placing their X's and O's on the game board until
            either opponent has three in a row or all nine squares are filled.<br />X's always go first, and in the event that no one has
            three in a row, the stalemate is called a cat game.
        </p>

    </div>
</body>
</html>
