/* Styles added by James & Garrick */

/*Coded by Garrick: css for map*/   
.territory:hover 
{
    fill: #22aa44;
}

.selected 
{
    fill: #fff;
}

.highlighted 
{
	fill: #ffd800;
}

.blackedOut {
    fill: #000000;
}

.connection:hover 
{
	stroke: #ff0000
}

.compass 
{
	fill: #fff;
	stroke: #000;
	stroke-width: 1.5;
}

.button 
{
	fill: #225EA8;
	stroke: #0C2C84;
	stroke-miterlimit: 6;
	stroke-linecap: round;
}

.button:hover 
{
	stroke-width: 2;
}

.plus-minus 
{
	fill: #fff;
	pointer-events: none;
}

.text::selection 
{
	fill: white;
	user-select: none;
}

/*Coded by James: css for battle models*/
.skeletonX 
{
	position: relative;
	top: 0;
	left: 0;
}

.skeleton 
{
	position: absolute;
	top: 0;
	top: 0;
}

img 
{
	max-height: 80vh;
	max-width: 80vw;
	margin: 0px 60px
}

body 
{
	background-color: white;
}

.redText 
{
	color: darkred;
}

.modal-header 
{
	/* background-color: gainsboro; */
	background-color: black;
	color: white;
	font-weight: bold;
}

.modal-body 
{
	position: relative;
	overflow: auto;
	overflow-y: auto;
	max-height: 700px;
	background-color: grey;
	font-weight: bold;
	font-size: 15px;
}

.modal-footer 
{
	text-align: left;
	background-color: black;
}

.modal-backdrop 
{
	background-color: green;
}

/* The Close Button */
.close 
{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus 
{
	color: black;
	text-decoration: none;
	cursor: pointer;
}