@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	About Peril

	Purpose
	Peril and the supporting framework is a project for the Idaho Falls section of Advanced Software Engineering and Project,
	CS 4488, for the spring semester of 2018 at Idaho State University.

	Goal
	The goal of this project consists of two parts.
	The first part was to create and implement a turn based multiplayer framework.
	The framework consists of a database, API calls which allow validated data to be transfered back and forth from this database to the user,
	and a template in the form of an interface which allows game developers to easily integrate their games into the framework.
	The second part of the project was to create a game similar to Hasbro's Risk(c).
	Peril as mentioned above, is loosely based on Hasbro's Risk(c), but has been dramatically altered to be a unique game.
	The rules along with the gameplay can be found under the rules link on the main page or can be found here(link).
	It is strongly recomended that the rules be reviewed before playing the game since the rules of Peril are no longer similar to the rules for Hasbro's Risk (c).

	Professor/Customer
	Dr. David Beard

	Development Team
	Project Manager: Cameron Krome		Developer: Garrick Evans
	Technical Lead: James Alberts		Developer: Mike Case
	Database Administrator: Todd Clark	Developer: Stephen Bailey
	Quality Assurance Lead: Kate Brown	Developer: Tyler Lancaster
	Although each student has a job title, everyone participated in every aspect of the project and were invaluable to its success.

	Disclaimer
	This game was created solely for educational purposes at Idaho State University and is not intended for lease, sale, or generating any form of revenue.
	Peril has evolved into a unique game and any similarities to Hasbro's Risk(c) are purely incidental.
</p>
