@*James March 2018*@

@{
	ViewBag.Title = "Contact";
}

<style>
	#p0 {
		margin: 20px;
		font-size: 120%;
	}
</style>


<h2>@ViewBag.Title</h2>

<p id="p0">
	Questions, comments, and concerns regarding either the framework or associated games
	may be addressed to either the professor of CS 4488 (Advanced Software Engineering and Project) at Idaho state University,
	Dr. Beard, or to the development team (before the end of the spring semester of 2018) which can be reached through Dr. Beard.
</p>

<p style="color:blue;">Dr. David Beard <br />Professor and Chair, Computer Science Department<br />College of Science and Engineering</p>
<address>
	<strong>Email:</strong> <a href="mailto:beard@isu.edu">beard@isu.edu</a>
</address>